#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: #e8e0da;
  color: #906347;
}

.mano-pirkiniai ul li {
  text-align: center;
list-style-type: none;
}

.paslauga { 
  border: 1px solid #906347;
  
}